<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">


        <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> -->

        <div class='card'>
            <div class='card-header'>
                <h5>Ricerca elementi</h5>
            </div>
            <div class='card-body'>

                <form (ngSubmit)="searchCliente(searchForm)" #searchForm="ngForm" class="row g-3">

                    <div class="col-md-6">
                        <label>Nome</label>
                        <input type="text" class="form-control" placeholder="Inserire il nome"
                            id="nome" name="nome" [(ngModel)]="example!.nome" #cognomeVar="ngModel" >
                    </div>

                    <div class="col-md-6">
                        <label>Cognome</label>
                        <input type="text" class="form-control" placeholder="Inserire il cognome"
                            id="cognome" name="cognome" [(ngModel)]="example!.cognome" #cognomeVar="ngModel">
                    </div>

                    <div class="col-md-6">
                        <label>Indirizzo</label>
                        <input type="text" class="form-control" placeholder="Inserire indirizzo"
                            id="indirizzo" name="indirizzo" [(ngModel)]="example!.indirizzo" #cognomeVar="ngModel">
                    </div>

                    <div class="col-md-3">
                        <label for="attivo" class="form-label">Stato </label>
                        <select class="form-select" id="attivo" name="attivo" [(ngModel)]="example!.attivo" #cognomeVar="ngModel">
                            <option value="" selected> - Selezionare - </option>
                              <option value="true" >Clienti attivi</option>
                              <option value="false" >Clienti non attivi</option>
                        </select>
                    </div>

                    <div class="col-12">
                        <button type="submit" name="submit" value="submit" id="submit"
                            class="btn btn-primary">Ricerca</button>
                    </div>

                    <input class="btn btn-outline-warning" type="reset"  style='width:80px' value="Ripulisci">

                    <div class='card-footer'>
                        <a routerLink="/cliente/list" class='btn btn-outline-secondary'
                            style='width:80px'>
                            <i class='fa fa-chevron-left'></i> Back
                        </a>
                    </div>

                    <div class='card' *ngIf="clienti!.length > 0">
                        <div class='card-header'>
                            <h5>Lista dei risultati </h5>
                        </div>
                        <div class='card-body'>
            
                            <div class='table-responsive'>
                                <table class='table table-hover'>
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nome</th>
                                            <th>Cognome</th>
                                            <th>Indirizzo</th>
                                            <th>Attivo</th>
                                            <th>Azioni</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let clienteItem of clienti" [routerLink]="['/cliente',clienteItem.id]">
                                            <td>{{clienteItem.id}}</td>
                                            <td>{{clienteItem.nome}}</td>
                                            <td>{{clienteItem.cognome}}</td>
                                            <td>{{clienteItem.indirizzo}}</td>
                                            <td>{{clienteItem.attivo | decodificaBoolean}}</td>
                                            <td> <a
                                                class="btn me-2  btn-sm btn-outline-secondary"
                                                [routerLink]="['/cliente/detail', clienteItem.id]">Visualizza</a> 
                                        
                                                <a 
                                                class="btn me-2  btn-sm btn-outline-primary"
                                                [routerLink]="['/cliente/edit', clienteItem.id]">Modifica</a> 
                                                <a 
                                                class="btn me-2  btn-sm btn-outline-danger"
                                                [routerLink]="['/cliente/delete', clienteItem.id]">Disattiva</a> 
                                        </tr>
                                    </tbody>
                                </table>
                                <div class='card-footer'>
                                    <a class='btn me-2 btn-outline-primary' (click)="ripulisciRisultati()">
                                      <i class='fa fa-chevron-left'></i> Ripulisci Risultati 
                                   </a> 
                            </div>
                            


                <!-- end card-body -->
            <!-- </div> -->
            <!-- end card -->
        <!-- </div> -->
        <!-- end container -->
    <!-- </div> -->

    <!-- end main -->
<!-- </main> -->