<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">

        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class='card'>
            <div class='card-header'>
               Sei sicuro di voler disattivare questo elemento?
            </div>

            <div class='card-body'>
                <dl class="row">
                    <dt class="col-sm-3 text-right">Id:</dt>
                    <dd class="col-sm-9">{{ordine?.id}}</dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-3 text-right">Data:</dt>
                    <dd class="col-sm-9">{{ordine?.data | date:'dd/MM/yyyy'}}</dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-3 text-right">Codice:</dt>
                    <dd class="col-sm-9">{{ordine?.codice}}</dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-3 text-right">Costo Totale:</dt>
                    <dd class="col-sm-9">{{ordine?.costoTotale}}</dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-3 text-right">Chiuso:</dt>
                    <dd class="col-sm-9">{{ordine?.chiuso | decodificaBoolean}}</dd>
                </dl>

                </div>

                <!-- end card body -->
            <!-- </div> -->
            <div class='card-footer'>
                <a class='btn me-2 btn-outline-danger' style='width:80px' (click)="deleteOrdine()">
                  <i class='fa fa-chevron-left'></i> Disattiva 
               </a> 

            <div class='card-footer'>
                <a routerLink="/ordine/list" class='btn btn-outline-secondary'
                    style='width:80px'>
                    <i class='fa fa-chevron-left'></i> Back
                </a>
            </div>
            <!-- end card -->
        </div>

        <!-- end container -->
    </div>

<!-- </main> -->